<!-- Main Content -->
<div class="container">
  <div class="d-flex flex-column justify-content-center align-items-center p-4">
    <!-- <img src="/img/gota-de-agua.png" class="my-5" alt="" /> -->
    <h3 class="display-4 fw-bold">Products</h3>
    <!-- <a href="/about" class="btn btn-primary w-25">About</a> -->
    <%- include('card')%>
  </div>
</div>
