<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header')%>
  </head>
  <body>
    <%- include('partials/navigation')%>
    <div class="container p-4">
      <form method="POST" action="/newProduct" class="card card-body">
        <div class="from-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" placeholder="Entry a name" autofocus required/>
        </div>
        <div class="from-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" name="description" placeholder="Entry a description" required/>
        </div>
        <div class="from-group">
          <label for="price">Price $</label>
          <input type="text" class="form-control" name="price" placeholder="Entry a price" required/>
        </div>
        <div class="from-group">
          <label for="image">Image</label>
          <input type="text" class="form-control" name="image" placeholder="http://website.com" required/>
        </div>
        <input type="submit" class="btn btn-primary btn-block" value="Save">
      </form>
    </div>
<%- include('partials/footer')%>
  </body>
</html>
